* {
	margin: 0;
	padding: 0;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
html, body {
	/*Need this to make the jumbotron full screen no matter the size*/
	height: 100%;
}

/*The body and @media are for the top nav bar to stay put*/
body {
  padding-top: 50px;
  //background-color: rgb(222,231,233);
  //background-color: rgb(72,146,195);
  background-color: #152b3a;
  //background: url("../img/surfers_paradise1.jpg") no-repeat fixed, grey;
  background-position: center;
  padding-top: 50px;
  height: 100%;
  width: 100%;
  background-size: cover;
  margin-bottom: 0px;
}

.nav a:hover, footer a:hover{
	color: #2a6496;
	transition: color 1s;
	text-decoration: none;
}

.navbar-brand > img {
  content: url("../img/banner.png");
  max-height: 50px;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.btn:hover {
  background-color: #286090;
  transition: background-color 1s;
}

.btn {
  transition: background-color 1s;
}

.jumbotron {
	height: 50px;
	margin-bottom: 0;
	padding-top: 50px;
	background-color: #152b3a;
	color:white;
}

.row {
	height: 100%;
	//background-color: rgba(0,0,0,0.7);
	margin-right: 0px;
}

.container h2, h3, p {
	font-weight: bold;
	font-size: 350%;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	text-shadow: 0 2px 0 black, 0 0 10px black;
	color: white;
}

.container h3 {
	font-size: 200%;
	text-transform: none;
}

.container p{
	font-size: 175%;
	text-transform: none;
}

.vertical-center {
  min-height: 70%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 70vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

img.center {
	display: block;
	margin: 0px auto;
}

.photo {
	background-attachment: fixed;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	height: 70%;
	position: relative;
}

.divider {
	height: 30%;
	//background-color: rgba(0,0,0,0.7);
}

.campus {
	background-image: url('../img/campus.jpg');
}

.aces {
	background-image: url('../img/easy.jpg');
}

.woah {
	background-image: url('../img/goToWoah.jpg');
}

@media (max-width: 979px) {
	body {
		padding-top: 50px;
	}

	.row, .photo {
		min-height: 80%;
	}

	.row {
		margin-bottom: 40%;
	}

	.jumbotron {
		min-height: 40%;
	}

	.container h2 {
		font-size: 250%;
	}

	.row > .container {
		padding: 0 5%;
	}
}
